################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/begovich_1lab/Debug/begovich_1lab.tlog
/begovich_1lab/Debug/begovich_1lab.tlog
/begovich_1lab/Debug/begovich_1lab.tlog
